.colorBox {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 4px;
    margin: 0px 7px;
    cursor: pointer;
}

.qouteBtn {
    border: none !important;
    background: #212121;
    padding: 13px 15px!important;
    color: white !important;
    border-radius: 5px;
    font-family: 'PoppinsMed';
    font-weight: 700;
    text-decoration: none !important;
    width: 100%;
}

@media screen and (max-width:763px) {
    .detailRightCol{
        margin-top: 40px;
    }


}